@media screen and (max-width:1095px) {
    #large-nav{
        display: none;
    }
}
@media screen and (max-width:950px) {
    header{
        background-size: cover;
    }
}
@media screen and (min-width:1095px) {
    #hamberger,#ham-logo{
        display: none;
    }
}